<!DOCTYPE html>
<html>
  {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
        <script src="{% static 'core/js/jquery.min.js' %}"></script>
        <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'core/js/jquery.validate.js' %}"></script>
    </head>
    <body>

        <!-- MENU -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Core</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/proveedor">Proveedores</a></li>
                <li><a href="/insumo">Insumos</a></li>
              </ul>
            </div>
        </nav>


        <div class="container">
           
            <footer class="footer">
              Beatriz Tapia, @Copyrigth Derechos reservados
            </footer>
        </div>


    </body>
</html>