<!DOCTYPE html>
<html>
  {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/font-awesome.css' %}">
        <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
        <script src="{% static 'core/js/jquery.min.js' %}"></script>
        <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'core/js/jquery.validate.js' %}"></script>
    </head>
    <body>

        <!-- MENU -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Core</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/proveedor">Proveedores</a></li>
                <li><a href="/form-proveedor">Emplear Proveedores</a></li>
                <li><a href="/form-mod-proveedor">modificar Proveedores</a></li>
              </ul>
            </div>
        </nav>


        <div class="container">
          <h2>Core</h2>
            <div>Listado de Proveedores</div>
            <div class="row">
              <table class="table">
                <thead>
                <tr><th>Id</th><th>Nombre</th><th>Telefono</th><th>Direccion</th><th>email</th><th>Pais</th><th>Moneda</th></tr>
                </thead>
                <tbody>
                {% for Proveedor in proveedor%}
                <tr>
                  <td>{{Proveedor.Idprov}}</td>
                  <td>{{Proveedor.nombre}}</td>
                  <td>{{Proveedor.telefono}}</td>
                  <td>{{Proveedor.direccion}}</td>
                  <td>{{Proveedor.email}}</td>
                  <td>{{Proveedor.pais}}</td>
                  <td>{{Proveedor.moneda}}</td>
                  <td>
                    <a href="{% url 'form_mod_proveedor' Proveedor.Idprov %}">Modificar</a>
                    <a href="{% url 'form_del_proveedor' Proveedor.Idprov %}">Eliminar</a>
                  </td>
                  {% endfor%}
                </tbody>
              </table>
              <a href="{% url 'form_proveedor'%}">Crear Proveedor</a>

            </div>
           
            <footer class="footer">
              Beatriz Tapia, @Copyrigth Derechos reservados
            </footer>
        </div>


    </body>
</html>